Repository bank-vaults/bank-vaults, pull requests merged in 2019-12, with the labels that each got.

#775 operator: restart configurer as well in case of tls cert changes
  operator/pkg/controller/vault/vault_controller.go
Labels: configurer

#779 webhook: fix for kubectl DockerHub address format
  cmd/vault-secrets-webhook/registry/registry.go
Labels: bug, webhook

#782 chart/vault: fix resources + acceptance test
  .circleci/config.yml
  .github/workflows/ci.yml
  charts/vault/Chart.yaml
  charts/vault/values.yaml
  hack/acceptance-test.sh
Labels: chart, testing

#780 adding new parameters to control the sideEffect
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: webhook

#785 add consul-template with PKI example
  deploy/test-deploy-ct.yaml
  operator/deploy/cr.yaml
Labels: documentation, webhook

#793 operator: depend purely on controller-runtime and code-generator
  .licensei.toml
  Makefile
  charts/vault-operator/Chart.yaml
  charts/vault-operator/templates/deployment.yaml
  charts/vault-operator/templates/service.yaml
  go.mod
  go.sum
  hack/update-codegen.sh
  hack/verify-codegen.sh
  main-targets.mk
  operator/README.md
  operator/cmd/manager/main.go
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/client/clientset/versioned/clientset.go
  operator/pkg/client/clientset/versioned/fake/clientset_generated.go
  operator/pkg/client/clientset/versioned/typed/vault/v1alpha1/vault_client.go
  operator/pkg/controller/vault/vault_controller.go
  pkg/sdk/go.mod
  pkg/sdk/go.sum
Labels: operator

#789 webhook: request aws ecr credentials with instance role
  cmd/vault-secrets-webhook/registry/cache.go
  cmd/vault-secrets-webhook/registry/cache_test.go
  cmd/vault-secrets-webhook/registry/registry.go
  cmd/vault-secrets-webhook/registry/registry_test.go
  docs/mutating-webhook/README.md
  go.mod
  go.sum
Labels: aws, enhancement, webhook

#795 Startupsecret from k8ssecret
  operator/deploy/cr-k8s-startup-secret.yaml
  operator/pkg/controller/vault/vault_controller.go
  pkg/sdk/vault/operator_client.go
Labels: configurer, enhancement

#796 Add Extra init containers
  operator/deploy/cr-init-containers.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: enhancement, operator

#797 vault-env: add version to secret cache key
  cmd/vault-env/main.go
Labels: webhook

#798 Restore Operator leader election
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-operator/templates/role.yaml
  charts/vault-operator/values.yaml
  operator/cmd/manager/main.go
Labels: operator

#799 fix nodeSelector conditionCheck in vault-operator chart deployment file
  charts/vault-operator/Chart.yaml
  charts/vault-operator/templates/deployment.yaml
Labels: operator

#800 operator acceptance test + etcd chart update/fix
  charts/vault-operator/Chart.yaml
  charts/vault-operator/requirements.yaml
  charts/vault-operator/templates/deployment.yaml
  charts/vault-operator/values.yaml
  hack/acceptance-test.sh
Labels: build, chart, operator

#806 Fix error handling in case of missing secret/configmap
  cmd/vault-secrets-webhook/main.go
Labels: bug, webhook

#812 webhook: ownerreferences should be always queried
  cmd/vault-secrets-webhook/main.go
Labels: bug, webhook
