Repository bank-vaults/bank-vaults, pull requests merged in 2019-05, with the labels that each got.

#443 add statsd 9125 port to service
  operator/pkg/controller/vault/vault_controller.go
Labels: monitoring

#446 PSP AllowPrivilegeEscalation
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#448 [vault-env] Add support for versioning
  cmd/vault-env/main.go
Labels: webhook

#455 Bank vaults client constructor improvements
  cmd/vault-env/main.go
  pkg/vault/client.go
Labels: client

#457 configurer: add support for token auth
  pkg/vault/operator_client.go
  vault-config.yml
Labels: auth, configurer

#473 allow for annotations overrides of the consul template image
  cmd/vault-secrets-webhook/main.go
Labels: community, enhancement, webhook

#477 add some documentation on how to complete an e2e encryption configura…
  docs/operator/howto-vault-e2e.md
Labels: docs

#472 Read entrypoint and cmd from image configuration
  cmd/vault-env/entrypoint_cmd.go
  cmd/vault-env/k8s.go
  cmd/vault-env/main.go
  cmd/vault-env/types.go
  cmd/vault-env/utils.go
  go.mod
  go.sum
Labels: community, enhancement, webhook

#485 [operator] preserve NodePort for Services
  operator/deploy/cr.yaml
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, operator

#488 add webhook coverage to acceptance test
  .circleci/config.yml
  hack/acceptance-test.sh
Labels: build, webhook
