Repository bank-vaults/bank-vaults, pull requests merged in 2019-02, with the labels that each got.

#313 Make etcd backend durable via PVC
  operator/deploy/cr-etcd-ha.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: etcd

#315 Handle SIGSEGV in NewClientWithConfig
  pkg/vault/client.go
Labels: bug, client

#319 operator: make sync_period configurable
  operator/cmd/manager/main.go
Labels: enhancement

#325 make etcd PersistentVolumeClaimSpec optional
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: etcd, operator

#336 add Auth backend support for custom path and description
  pkg/vault/operator_client.go
Labels: configurer, enhancement

#338 Fix envFrom empty handling
  cmd/vault-secrets-webhook/main.go
Labels: bug, webhook
