Repository bank-vaults/bank-vaults, pull requests merged in 2019-08, with the labels that each got.

#573 use vault sdk instead of pulling in the whole project
  go.mod
  go.sum
  pkg/vault/operator_client.go
Labels: client

#576 Add vault-secrets-webhook basic metrics
  cmd/vault-secrets-webhook/main.go
Labels: community, webhook

#580 helm: build charts with circle
  .circleci/config.yml
  charts/README.md
Labels: chart

#581 helm: bump chart and app versions
  charts/vault-operator/Chart.yaml
  charts/vault-operator/values.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/values.yaml
Labels: chart

#582 Add support for dry-run with the webhook controller
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  cmd/vault-secrets-webhook/main.go
  docs/mutating-webhook/README.md
Labels: webhook

#586 revert breaking change of vault tls path, mounts and env vars
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#589 acceptance-test: kurun run was moved to a subcommand
  hack/acceptance-test.sh
Labels: build

#596 use the webhook chart directly for acceptance-test
  hack/acceptance-test.sh
Labels: build, webhook

#595 webhook: expose mutation metrics in prometheus format
  cmd/vault-secrets-webhook/main.go
Labels: monitoring, webhook

#597 [webhook] Small logging / comment additions
  cmd/vault-secrets-webhook/registry/registry.go
Labels: webhook

#621 vault-env: cache secrets to reduce calls and support dynamic credentials
  cmd/vault-env/main.go
Labels: enhancement, webhook

#624 webhook: don't bail out on missing optional env sources
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#630 feat: update vault-secrets-webhook helm chart to 0.5.1
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
Labels: chart, webhook

#636 sdk/auth: make TokenStore optional
  pkg/sdk/auth/auth.go
Labels: auth

#633 feat: use recommended k8s labels
  charts/vault-operator/templates/crd.yaml
  charts/vault-operator/templates/deployment.yaml
  charts/vault-operator/templates/role.yaml
  charts/vault-operator/templates/rolebinding.yaml
  charts/vault-operator/templates/sa.yaml
  charts/vault-operator/templates/service.yaml
  charts/vault-secrets-webhook/templates/prometheus-monitorservice.yaml
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/templates/webhook-pdb.yaml
  charts/vault-secrets-webhook/templates/webhook-service.yaml
  charts/vault/templates/configmap.yaml
  charts/vault/templates/ingress.yaml
  charts/vault/templates/prometheus-monitorservice.yaml
  charts/vault/templates/role.yaml
  charts/vault/templates/rolebinding.yaml
  charts/vault/templates/secret.yaml
  charts/vault/templates/service.yaml
  charts/vault/templates/serviceaccount.yaml
  charts/vault/templates/statefulset.yaml
  deploy/test-deployment.yaml
  docs/mutating-webhook/README.md
  docs/mutating-webhook/consul-template.md
  docs/mutating-webhook/howto-ct-prom.md
  operator/deploy/config-jwt-groups.yaml
  operator/deploy/config.yaml
  operator/deploy/secret.yaml
Labels: chart, community

#637 docs: update sdk docs for the new module
  docs/go-library/README.md
Labels: documentation

#612 operator: Vault Raft storage support automated
  .circleci/config.yml
  cmd/bank-vaults/unseal.go
  go.mod
  go.sum
  operator/deploy/cr-raft.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
  pkg/sdk/vault/operator_client.go
Labels: configurer, operator, storage

#638 [webhook] Serving telemetry on another address avoid TLS problems
  cmd/vault-secrets-webhook/main.go
Labels: monitoring, webhook

#640 Prometheus ServiceMonitor token automation example
  operator/deploy/cr-prometheus.yaml
  operator/pkg/controller/vault/vault_controller.go
Labels: documentation, monitoring, operator

#641 Add postgresql as an allowed HA backend
  operator/pkg/apis/vault/v1alpha1/vault_types.go
Labels: community, enhancement, operator

#645 Change hardcoded image PullPolicy
  cmd/vault-secrets-webhook/main.go
Labels: webhook
