Repository bank-vaults/bank-vaults, pull requests merged in 2019-09, with the labels that each got.

#650 fix: Config not added with rotate: true
  pkg/sdk/vault/operator_client.go
Labels: configurer

#652 Support creating group-aliases with same name and different mount_accessor path
  go.mod
  go.sum
  pkg/sdk/vault/operator_client.go
Labels: community, configurer

#656 Fix format of imagePullSecret log message
  cmd/vault-secrets-webhook/registry/registry.go
Labels: webhook

#658 client: add the ability to provider a Vault token
  pkg/sdk/vault/client.go
Labels: client

#665 Make ImagePull Docker Config JSON key configurable
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/registry/registry.go
Labels: webhook

#669 Add new annotation to change the config file path in the container
  cmd/vault-secrets-webhook/main.go
Labels: community, enhancement, webhook

#674 webhook: fix the chart install and port-forward execution order
  Makefile
  cmd/vault-secrets-webhook/main.go
  go.mod
Labels: bug, webhook

#675 webhook: add monitoring guide with example Grafana dashboard
  docs/mutating-webhook/monitoring.md
  hack/prometheus.yaml
Labels: documentation, monitoring, webhook

#673 Added more information about the Vault Webhooks
  charts/vault-secrets-webhook/README.md
Labels: documentation, webhook

#679 Enable possibility for JSON logging
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/registry/registry.go
  go.mod
  go.sum
  pkg/sdk/vault/client.go
Labels: logging
