Repository bank-vaults/bank-vaults, pull requests merged in 2019-04, with the labels that each got.

#389 Add "--fatal" flag to configurator
  cmd/bank-vaults/configure.go
Labels: configurer

#387 Add AWS Secret engine example
  README.md
Labels: configurer, docs

#395 Reduce unseal periods (and logs as well) to be more resilient
  cmd/bank-vaults/configure.go
  cmd/bank-vaults/unseal.go
Labels: enhancement

#402 operator: reduce RBAC scope
  hack/acceptance-test.sh
  operator/README.md
  operator/deploy/operator-rbac.yaml
  operator/deploy/operator.yaml
  operator/deploy/rbac.yaml
Labels: operator

#411 Add support for gerenating wildcard certificates
  pkg/tls/tls.go
  pkg/tls/tls_integration_test.go
Labels: tls

#408 Make Watch function work on multiple Directories
  cmd/bank-vaults/configure.go
Labels: configurer

#413 configurer: format policies before posting them
  go.mod
  pkg/vault/operator_client.go
Labels: configurer

#421 operator: configurer shouldn't get unseal options
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: configurer, operator

#422 webhook: vault-agent-fix
  cmd/vault-secrets-webhook/main.go
  deploy/test-deployment.yaml
Labels: webhook

#424 Handle Configuration errors by re-injecting configuration files into the configurations channel
  .circleci/config.yml
  cmd/bank-vaults/configure.go
  go.mod
  go.sum
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, configurer

#429 fix: save recovery key to storage
  pkg/vault/operator_client.go
Labels: community, enhancement, unseal

#430 Add example CR configuration with autounseal on GCP
  operator/deploy/cr-gcs-ha-autounseal.yaml
Labels: operator

#432 Readme update
  README.md
  docs/README.md
  docs/cli-tool/README.md
  docs/cloud-permissions/README.md
  docs/contributing/README.md
  docs/go-library/README.md
  docs/go-library/images/authn-vault-flow.png
  docs/go-library/images/token-request-vault-flow.png
  docs/go-library/images/vault-mySQL.gif
  docs/helm-chart/README.md
  docs/installing/README.md
  docs/monitoring/README.md
  docs/mutating-webhook/README.md
  docs/operator/README.md
  docs/operator/images/vaultoperator.png
  docs/unseal-keys/README.md
Labels: docs

#410 Add consul-template support
  cmd/vault-secrets-webhook/main.go
  docs/mutating-webhook/consul-template.md
Labels: community, enhancement, webhook
