Repository bank-vaults/bank-vaults, pull requests merged in 2019-07, with the labels that each got.

#538 Add support for "create_only" field to secrets
  operator/deploy/cr-gcs-ha.yaml
  pkg/vault/operator_client.go
Labels: configurer

#539 operator: extending godoc based documentation for VaultSpec type
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: docs, operator

#545 Use objectmatcher to avoid unnecessary updates.
  go.mod
  go.sum
  operator/cmd/manager/main.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#547 Fix stale Vault CR updates
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#551 [vault-operator] Make etcd image repositories configurable
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#553 webhook: add healthz handler
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#556 webhook: Docker CMD should be appended only if Kubernetes args is empty
  cmd/vault-secrets-webhook/main.go
Labels: bug, webhook

#557 webhook: lazy connection to vault in case of configmaps and secrets
  cmd/vault-secrets-webhook/configmap.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/secret.go
Labels: enhancement, webhook

#560 Use VAULT_PATH if specified as an environment variable
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#563 make preFlightChecks true by default
  cmd/bank-vaults/init.go
  cmd/bank-vaults/unseal.go
  operator/deploy/cr.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
Labels: operator, unseal

#567 [TLS] Add support for multiple wildcard hosts
  pkg/tls/tls.go
Labels: community, library, operator, tls

#566 Create SECURITY.md
  SECURITY.md
Labels: docs, security

#572 Configurable webhook listen address
  cmd/vault-secrets-webhook/main.go
Labels: community, webhook
