Repository bank-vaults/bank-vaults, pull requests merged in 2019-10, with the labels that each got.

#688 update to go 1.13 and vault to 1.2.3
  .circleci/config.yml
  Dockerfile
  Dockerfile.operator
  Dockerfile.vault-env
  Dockerfile.webhook
  Makefile
  go.mod
  go.sum
  operator/deploy/cr-audit.yaml
  operator/deploy/cr-aws.yaml
  operator/deploy/cr-azure.yaml
  operator/deploy/cr-credentialFromSecret.yaml
  operator/deploy/cr-customports.yaml
  operator/deploy/cr-etcd-ha.yaml
  operator/deploy/cr-gcs-ha-autounseal.yaml
  operator/deploy/cr-gcs-ha.yaml
  operator/deploy/cr-mysql-ha.yaml
  operator/deploy/cr-nodeAffinity.yaml
  operator/deploy/cr-podAntiAffinity.yaml
  operator/deploy/cr-priority.yaml
  operator/deploy/cr-prometheus.yaml
  operator/deploy/cr-raft.yaml
  operator/deploy/cr-resource.yaml
  operator/deploy/cr-transit-unseal.yaml
  operator/deploy/cr-vault-kv-ha-autounseal.yaml
  operator/deploy/cr.yaml
Labels: build

#691 Added release namespace to webhook helm templates
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  charts/vault-secrets-webhook/templates/prometheus-monitorservice.yaml
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/templates/webhook-pdb.yaml
  charts/vault-secrets-webhook/templates/webhook-psp.yaml
  charts/vault-secrets-webhook/templates/webhook-service.yaml
Labels: chart, community, webhook

#694 docs: fix typo in readme for vault-secrets-webhook chart
  charts/vault-secrets-webhook/README.md
Labels: chart, webhook

#696 Slim vault-env docker image size from 127Mb to 24Mb
  Dockerfile.vault-env
Labels: webhook

#697 [vault-env] Revoke token
  cmd/vault-env/main.go
Labels: webhook

#698 webhook: Add RunAsUser functionality within copy-vault-init and containers
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#702 acceptance-test: webhook should reject mutation failures
  deploy/test-configmap.yaml
  hack/acceptance-test.sh
Labels: build

#704 fix Client.Close() state handling
  pkg/sdk/vault/client.go
Labels: bug, client

#707 operator: fix rbac for openshift
  charts/vault-operator/Chart.yaml
  charts/vault-operator/templates/role.yaml
  charts/vault-operator/values.yaml
  operator/deploy/operator-rbac.yaml
Labels: openshift, operator, rbac

#710 operator: scope configmap/secret selection to same namespace
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, operator

#714 Minor documentation fix, added "banzaicloud-stable/" prefix to chart docs.
  charts/vault-operator/README.md
  charts/vault/README.md
Labels: documentation, enhancement

#719 Add support for watching external secrets by annotation as well as labels
  deploy/test-external-secrets-watch-deployment.yaml
  deploy/test-external-secrets-watch-secrets.yaml
  docs/external-secrets/README.md
  hack/acceptance-test.sh
  operator/deploy/cr-customports.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: community, operator

#721 [vault-secrets-webhook] Add tests for mutating containers without explicit entrypoint etc.
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/main_test.go
  cmd/vault-secrets-webhook/registry/cache.go
  cmd/vault-secrets-webhook/registry/cache_test.go
  cmd/vault-secrets-webhook/registry/registry.go
Labels: webhook

#723 [charts/vault-secrets-webhook] Add option to use static certicates for vault-secrets-webhook helmchart.
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: chart, webhook

#711 [webhook/vault-env] Support Vault Transit Secret Engine for PODs
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
  docs/mutating-webhook/transit-encryption.md
  internal/configuration/vaultConfig.go
  pkg/sdk/vault/client.go
  pkg/sdk/vault/operator_client.go
  pkg/sdk/vault/transit.go
  pkg/sdk/vault/transit_test.go
Labels: community, webhook

#724 Enable GitHub actions
  .circleci/config.yml
  .github/workflows/ci.yml
  hack/acceptance-test.sh
Labels: build
