Repository bank-vaults/bank-vaults, pull requests merged in 2019-06, with the labels that each got.

#502 add secret validation to CI test
  hack/acceptance-test.sh
Labels: build

#505 Add support for oidc auth type
  pkg/vault/operator_client.go
Labels: auth, community, configurer

#513 vault-env: added option to pass VAULT env vars to main process
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
  docs/mutating-webhook/consul-template.md
Labels: community, webhook

#512 [vault-secrets-webhook] Mutate configMaps
  cmd/vault-secrets-webhook/configmap.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/secret.go
Labels: community, webhook

#516 use 'reclaim' policy for host-path PVs
  operator/deploy/cr.yaml
Labels: community, operator

#525 webhook: remove limitation from doc
  docs/mutating-webhook/README.md
Labels: documentation, webhook
