Repository bank-vaults/bank-vaults, pull requests merged in 2020-10, with the labels that each got.

#1125 configurer: exit early if possible before touching the API
  internal/vault/operator_client.go
Labels: configurer

#1126 operator: deploy configurer only if there is any externalConfig present
  operator/pkg/controller/vault/vault_controller.go
Labels: configurer, operator

#1134 Custom fluentd conf path
  operator/deploy/cr-audit.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1137 injector: fix secret caching and add test
  internal/injector/injector.go
  internal/injector/injector_test.go
Labels: bug, vault-env, webhook

#1145 add check for EnvFromPath to be empty for continuation
  cmd/vault-secrets-webhook/pod.go
Labels: bug, webhook

#1148 webhook: Load CA for non-pods as well
  cmd/vault-secrets-webhook/main.go
  deploy/test-secret.yaml
  hack/acceptance-test.sh
Labels: webhook

#1143 Possibility to define multiple inline-secrets for mutation
  cmd/vault-secrets-webhook/common.go
  cmd/vault-secrets-webhook/configmap.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/object.go
  cmd/vault-secrets-webhook/secret.go
  deploy/test-configmap.yaml
  deploy/test-secret.yaml
  hack/acceptance-test.sh
Labels: community, webhook

#1157 prepare 1.7.0
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault/Chart.yaml
  charts/vault/README.md
Labels: release

#1161 update slok/kubewebhook and code-generator
  Makefile
  go.mod
  go.sum
  operator/pkg/client/clientset/versioned/fake/register.go
  operator/pkg/client/listers/vault/v1alpha1/vault.go
Labels: operator, webhook

#1166 client: automated GCP GCE authentication
  cmd/vault-secrets-webhook/registry/registry.go
  deploy/test-deployment-gcp.yaml
  pkg/sdk/vault/client.go
Labels: google, vault-env, webhook

#1163 feat: annotations to control agent and env images
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
Labels: webhook

#1168 fix vault agent `-once` command to exit after auth
  cmd/vault-secrets-webhook/pod.go
Labels: webhook
