Repository bank-vaults/bank-vaults, pull requests merged in 2020-03, with the labels that each got.

#902 [webhook] mutate any kind of k8s resources
  Makefile
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  charts/vault-secrets-webhook/values.yaml
  cmd/vault-secrets-webhook/configmap.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/object.go
  cmd/vault-secrets-webhook/secret.go
  deploy/test-custom-resource.yaml
Labels: enhancement, webhook

#890 Operator: Etcd affinity
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: etcd, operator

#906 operator: objectmatcher - ignore status fields
  go.mod
  go.sum
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#911 Bump helm orb version
  .circleci/config.yml
Labels: chart

#912 bump-operator-chart-version, repackage with helm3
  charts/vault-operator/Chart.yaml
Labels: chart

#920 [Webhook/Chart] Fix PSP apiversion in case of k8s 1.16
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/webhook-psp.yaml
Labels: chart, webhook

#921 prepare for release 1.0.0
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-operator/values.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/README.md
  charts/vault/values.yaml
Labels: chart

#922 [operator+CLI] HSM Support
  .circleci/config.yml
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.operator
  Dockerfile.vault-env
  Dockerfile.webhook
  Makefile
  cmd/bank-vaults/main.go
  cmd/bank-vaults/util.go
  go.mod
  go.sum
  hack/acceptance-test.sh
  operator/deploy/cr-hsm-nitrokey.yaml
  operator/deploy/cr-hsm-softhsm.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
  pkg/kv/hsm/hsm.go
  pkg/kv/hsm/hsm_test.go
  scripts/pcscd-entrypoint.sh
Labels: configurer, hsm, operator

#924 support etcd when declared in ha_storage stanza
  operator/deploy/cr-aws.yaml
  operator/deploy/cr-etcd-ha-aws.yaml
  operator/deploy/cr-etcd-ha-file.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: community, etcd, operator

#925 Make client timeout configurable
  charts/vault-secrets-webhook/values.yaml
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/main_test.go
  pkg/sdk/vault/client.go
Labels: client, community, webhook

#928 operator: clarify existingTlsSecretName
  operator/pkg/apis/vault/v1alpha1/vault_types.go
Labels: operator, tls
