Repository bank-vaults/bank-vaults, pull requests merged in 2020-07, with the labels that each got.

#1040 charts: fix image tag by appVersion
  charts/vault-operator/Chart.yaml
  charts/vault-operator/templates/_helpers.tpl
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/_helpers.tpl
  charts/vault/Chart.yaml
  charts/vault/templates/_helpers.tpl
Labels: bug, chart

#1039 Possibility to change the log level
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
Labels: chart, webhook

#1046 some fixes in multi dc raft example
  operator/deploy/multi-dc/cr-primary.yaml
  operator/deploy/multi-dc/cr-secondary.yaml
  operator/deploy/multi-dc/cr-tertiary.yaml
  operator/deploy/multi-dc/multi-dc-raft.sh
Labels: bug, documentation, raft

#1051 operator: allow VAULT_ADDR to be overridden
  operator/deploy/cr.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1050 Pass log_level to mutated container
  cmd/vault-secrets-webhook/pod.go
Labels: webhook

#1054 Support k8s downward api in vault chart environment variables
  charts/vault/Chart.yaml
  charts/vault/templates/statefulset.yaml
Labels: chart

#1057 [charts/vault] Option to use cert-manager to generate certs
  charts/vault/Chart.yaml
  charts/vault/templates/certificate.yaml
  charts/vault/templates/secret.yaml
  charts/vault/templates/statefulset.yaml
  charts/vault/values.yaml
Labels: chart, vault

#1061 webhook: fix VAULT_IMAGE case
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: bug, chart, webhook

#1062 make affinity configurable in helm chart.
  charts/vault/Chart.yaml
  charts/vault/README.md
  charts/vault/templates/statefulset.yaml
  charts/vault/templates/tests/test-vault-status.yaml
  charts/vault/values.yaml
Labels: chart, vault

#1058 Multi-DC Raft fixes
  operator/deploy/multi-dc/cr-primary.yaml
  operator/deploy/multi-dc/cr-secondary.yaml
  operator/deploy/multi-dc/cr-tertiary.yaml
  operator/deploy/multi-dc/multi-dc-raft.sh
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, operator, raft

#1064 Another set of Multi DC raft improvements
  operator/deploy/multi-dc/multi-dc-raft.sh
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
  pkg/sdk/tls/tls.go
Labels: operator, raft

#1066 charts: fix template globalness
  charts/vault-operator/Chart.yaml
  charts/vault-operator/templates/_helpers.tpl
  charts/vault-operator/templates/deployment.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/_helpers.tpl
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault/Chart.yaml
  charts/vault/templates/_helpers.tpl
  charts/vault/templates/statefulset.yaml
Labels: chart
