Repository bank-vaults/bank-vaults, pull requests merged in 2020-02, with the labels that each got.

#862 Fix aws auth cross account sts role parameter name
  docs/cli-tool/README.md
  vault-config.yml
Labels: aws, community, documentation

#870 Update AWS cloud permission setup in readme
  docs/cloud-permissions/README.md
Labels: aws

#868 Make unseal cmd platform-agnostic
  cmd/bank-vaults/unseal.go
  pkg/sdk/vault/operator_client.go
Labels: community, enhancement, raft, unseal

#856 vault-env: add daemon mode with dynamic secret renewal
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
  deploy/test-dynamic-env-vars.yaml
  docs/mutating-webhook/README.md
  go.sum
  internal/configuration/vaultConfig.go
  operator/deploy/cr-mysql-ha.yaml
  operator/deploy/cr.yaml
  pkg/sdk/vault/client.go
Labels: enhancement, webhook

#872 [docs] add unseal-key and root-token migration docs
  docs/unseal-keys/README.md
Labels: documentation, enhancement, multicloud, unseal

#873 chart: add eks iam sa capability
  charts/vault/Chart.yaml
  charts/vault/templates/serviceaccount.yaml
  charts/vault/templates/statefulset.yaml
  charts/vault/values.yaml
Labels: aws, chart

#874 docs: more detailed eks iam sa docs
  docs/cloud-permissions/README.md
Labels: aws, documentation

#880 bump chart and app versions
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-operator/values.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/values.yaml
Labels: chart

#882 webhook: fix parseContainerImage for special image format
  cmd/vault-secrets-webhook/registry/registry.go
  cmd/vault-secrets-webhook/registry/registry_test.go
Labels: bug, registry, webhook

#883 azure: fix size to 1 in non-HA example
  operator/deploy/cr-azure.yaml
Labels: azure

#887 ci: use checkout@v2
  .github/workflows/ci.yml
Labels: build

#886 vault-secrets-webhook: Add cert-manager certficate capability
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/_helpers.tpl
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  charts/vault-secrets-webhook/templates/warnings.tpl
  charts/vault-secrets-webhook/templates/webhook-cert-manager.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: chart, enhancement, webhook

#897 circle: disable license check
  .circleci/config.yml
Labels: build
