Repository bank-vaults/bank-vaults, pull requests merged in 2020-12, with the labels that each got.

#1199 client: log warnings from configuration changes
  internal/vault/operator_client.go
Labels: configurer

#1202 configurer: allow saving Vault secret engine configuration data to KV engine
  internal/vault/operator_client.go
  operator/deploy/cr.yaml
  vault-config.yml
Labels: configurer, pki

#1203 Webhook tries to fetch `image descriptor` from Docker Hub instead of private registry
  cmd/vault-secrets-webhook/registry/registry.go
Labels: webhook

#1206 webhook: comment on webhook role env variable
  charts/vault-secrets-webhook/values.yaml
Labels: chart, documentation, webhook

#1207 operator: add VaultContainerSpec override
  operator/deploy/cr.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1208 prepare 1.9.0
  charts/README.md
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault/Chart.yaml
  charts/vault/README.md
Labels: release

#1210 operator: prometheus fixes in example
  hack/prometheus.yaml
  operator/deploy/cr-prometheus.yaml
Labels: monitoring

#1211 operator: support for unauthenticated_metrics_access and deduplicating prometheus targets
  operator/deploy/cr-prometheus.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator, prometheus

#1213 charts: standardize serviceAccount creation
  charts/vault-operator/Chart.yaml
  charts/vault-operator/templates/_helpers.tpl
  charts/vault-operator/templates/deployment.yaml
  charts/vault-operator/templates/role.yaml
  charts/vault-operator/templates/rolebinding.yaml
  charts/vault-operator/templates/sa.yaml
  charts/vault-operator/values.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/_helpers.tpl
  charts/vault-secrets-webhook/templates/prometheus-monitorservice.yaml
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/templates/webhook-pdb.yaml
  charts/vault-secrets-webhook/templates/webhook-psp.yaml
  charts/vault-secrets-webhook/templates/webhook-rbac.yaml
  charts/vault-secrets-webhook/templates/webhook-service.yaml
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/README.md
  charts/vault/templates/_helpers.tpl
  charts/vault/templates/configmap.yaml
  charts/vault/templates/ingress.yaml
  charts/vault/templates/role.yaml
  charts/vault/templates/rolebinding.yaml
  charts/vault/templates/secret.yaml
  charts/vault/templates/service-headless.yaml
  charts/vault/templates/service.yaml
  charts/vault/templates/serviceaccount.yaml
  charts/vault/templates/statefulset.yaml
  charts/vault/values.yaml
Labels: chart

#1216 operator: fix stable chart repo location
  charts/vault-operator/Chart.yaml
Labels: chart
