Repository bank-vaults/bank-vaults, pull requests merged in 2020-06, with the labels that each got.

#1005 acceptance-test: resource_class: large
  .circleci/config.yml
Labels: build

#1008 notFoundError cause fix
  pkg/sdk/vault/operator_client.go
Labels: bug, unseal

#1014 Remove explicit check for annotations
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#1021 operator: fix hardcoded https schemes in case of raft
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
  pkg/sdk/vault/operator_client.go
Labels: operator, raft

#1022 fix notFoundError handling in raft
  pkg/kv/kv.go
  pkg/kv/multi/multi.go
  pkg/sdk/vault/operator_client.go
Labels: bug, google, raft

#1025 Fix names of k8s resources in vault-secrets-webhook
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  charts/vault-secrets-webhook/templates/webhook-cert-manager.yaml
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/templates/webhook-pdb.yaml
  charts/vault-secrets-webhook/templates/webhook-service.yaml
Labels: chart, webhook

#1030 Add seal check to vault init
  cmd/bank-vaults/unseal.go
Labels: unseal

#1035 Prepare 1.3.3 + image version templating
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-operator/templates/_helpers.tpl
  charts/vault-operator/templates/deployment.yaml
  charts/vault-operator/values.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/_helpers.tpl
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/README.md
  charts/vault/templates/_helpers.tpl
  charts/vault/templates/statefulset.yaml
  charts/vault/values.yaml
Labels: release
