Repository bank-vaults/bank-vaults, pull requests merged in 2020-11, with the labels that each got.

#1172 [operator] Raft HA storage
  cmd/bank-vaults/unseal.go
  internal/vault/operator_client.go
  operator/deploy/cr-raft-ha-storage.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: enhancement, operator, raft

#1174 operator: add service_registration
  operator/deploy/cr-raft-ha-storage.yaml
  operator/deploy/cr-raft.yaml
  operator/deploy/rbac.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: enhancement, operator

#1176 vault/chart: align IPC_LOCK behaviour to operator based on disable_mlock
  charts/vault/Chart.yaml
  charts/vault/templates/statefulset.yaml
  charts/vault/values.yaml
Labels: chart

#1178 Add inline secrets for vault-env/vault-secrets-webhook
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
  internal/injector/injector.go
  internal/injector/injector_test.go
Labels: webhook

#1179 operator: add Alibaba example
  operator/deploy/cr-alibaba.yaml
Labels: alibaba, operator

#1180 vault-env: fix vault:login clientOptions
  cmd/vault-env/main.go
Labels: bug, vault-env, webhook

#1181 Use agent ConfigMap when agent is in the InitContainers
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
Labels: webhook

#1182 operator: Prometheus operator update
  go.mod
  go.sum
  operator/pkg/apis/addtoscheme_monitor_v1.go
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: monitoring, operator

#1183 Vault 1.6.0 + release preparation
  .github/workflows/ci.yml
  charts/vault-operator/Chart.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/README.md
  charts/vault/values.yaml
  operator/deploy/aws-server-side-encryption.yaml
  operator/deploy/cr-alibaba.yaml
  operator/deploy/cr-audit.yaml
  operator/deploy/cr-aws.yaml
  operator/deploy/cr-awskms.yaml
  operator/deploy/cr-azure.yaml
  operator/deploy/cr-credentialFromSecret.yaml
  operator/deploy/cr-customports.yaml
  operator/deploy/cr-etcd-ha-aws.yaml
  operator/deploy/cr-etcd-ha-file.yaml
  operator/deploy/cr-etcd-ha.yaml
  operator/deploy/cr-file.yaml
  operator/deploy/cr-gcpkms.yaml
  operator/deploy/cr-gcs-ha-autounseal.yaml
  operator/deploy/cr-gcs-ha.yaml
  operator/deploy/cr-hsm-nitrokey.yaml
  operator/deploy/cr-hsm-softhsm.yaml
  operator/deploy/cr-init-containers.yaml
  operator/deploy/cr-k8s-startup-secret.yaml
  operator/deploy/cr-mysql-ha.yaml
  operator/deploy/cr-nodeAffinity.yaml
  operator/deploy/cr-oidc.yaml
  operator/deploy/cr-podAntiAffinity.yaml
  operator/deploy/cr-priority.yaml
  operator/deploy/cr-prometheus.yaml
  operator/deploy/cr-raft-ha-storage.yaml
  operator/deploy/cr-raft.yaml
  operator/deploy/cr-resource.yaml
  operator/deploy/cr-transit-unseal.yaml
  operator/deploy/cr-vault-kv-unseal.yaml
  operator/deploy/cr.yaml
  operator/deploy/multi-dc/aws/cr-primary.yaml
  operator/deploy/multi-dc/aws/cr-secondary.yaml
  operator/deploy/multi-dc/aws/cr-tertiary.yaml
  operator/deploy/multi-dc/test/cr-primary.yaml
  operator/deploy/multi-dc/test/cr-secondary.yaml
  operator/deploy/multi-dc/test/cr-tertiary.yaml
Labels: release

#1184 cli: add completion command
  cmd/bank-vaults/common.go
  cmd/bank-vaults/completion.go
  cmd/bank-vaults/configure.go
  cmd/bank-vaults/init.go
  cmd/bank-vaults/main.go
  cmd/bank-vaults/unseal.go
Labels: documentation

#1185 move all images to ghcr.io in charts and operator
  .github/workflows/ci.yml
  Makefile
  charts/vault-operator/Chart.yaml
  charts/vault-operator/values.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/values.yaml
  cmd/vault-secrets-webhook/main.go
  hack/Dockerfile.fluentd
  hack/acceptance-test.sh
  main-targets.mk
  operator/deploy/multi-dc/aws/multi-dc-raft.sh
  operator/deploy/multi-dc/test/multi-dc-raft.sh
  operator/pkg/apis/vault/v1alpha1/vault_types.go
Labels: chart, operator, registry

#1186 Multidc use specific loadbalancerip
  hack/acceptance-test.sh
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1194 webhook: migrate to to google/go-containerregistry
  cmd/vault-secrets-webhook/pod_test.go
  cmd/vault-secrets-webhook/registry/registry.go
  cmd/vault-secrets-webhook/registry/registry_test.go
  go.mod
  go.sum
Labels: registry, webhook

#1197 operator: apply sidecarEnvsConfig to fluentd and statsd, add resources for fluentd
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator
