Repository bank-vaults/bank-vaults, pull requests merged in 2020-09, with the labels that each got.

#1087 client: use logur logging interface
  cmd/examples/go.mod
  cmd/examples/go.sum
  cmd/examples/main.go
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/configmap.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/object.go
  cmd/vault-secrets-webhook/pod_test.go
  cmd/vault-secrets-webhook/secret.go
  go.mod
  go.sum
  pkg/sdk/auth/tokenstore.go
  pkg/sdk/go.mod
  pkg/sdk/vault/client.go
  pkg/sdk/vault/logger.go
Labels: client, logging

#1088 Allow the vault-env repository to be overridden.
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: chart, webhook

#1090 operator: bump controller-runtime ang k8s versions
  .golangci.yml
  .licensei.toml
  Makefile
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/registry/registry.go
  go.mod
  go.sum
  main-targets.mk
  operator/pkg/client/clientset/versioned/clientset.go
  operator/pkg/client/clientset/versioned/typed/vault/v1alpha1/fake/fake_vault.go
  operator/pkg/client/clientset/versioned/typed/vault/v1alpha1/vault.go
  operator/pkg/client/informers/externalversions/vault/v1alpha1/vault.go
  pkg/kv/k8s/k8s.go
  pkg/sdk/go.mod
  pkg/sdk/go.sum
Labels: operator

#1093 vault-env: support JWT/OIDC/GCP auth
  cmd/vault-env/main.go
  deploy/test-deployment-gcp.yaml
  pkg/sdk/vault/client.go
Labels: google, vault-env

#1101 webhook: allow adding auth-delegator role in the chart
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/webhook-rbac.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: chart, webhook

#1103 multi-dc: add local acceptance-test based on kind and metallb
  .circleci/config.yml
  operator/deploy/multi-dc/aws/cr-primary.yaml
  operator/deploy/multi-dc/aws/cr-secondary.yaml
  operator/deploy/multi-dc/aws/cr-tertiary.yaml
  operator/deploy/multi-dc/aws/multi-dc-raft.sh
  operator/deploy/multi-dc/test/cr-primary.yaml
  operator/deploy/multi-dc/test/cr-secondary.yaml
  operator/deploy/multi-dc/test/cr-tertiary.yaml
  operator/deploy/multi-dc/test/metallb-config.yaml
  operator/deploy/multi-dc/test/multi-dc-raft.sh
Labels: raft, testing

#1105 operator: fix single cluster raft with LoadBalancer serviceType
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, operator, raft

#1100 [webhook] Add env from vault path
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
  internal/injector/injector.go
  internal/injector/injector_test.go
Labels: vault-env, webhook

#1106 fix externalConfig comments
  deploy/test-external-secrets-watch-deployment.yaml
  examples/istio/cr-istio.yaml
  operator/deploy/cr-audit.yaml
  operator/deploy/cr-aws.yaml
  operator/deploy/cr-awskms.yaml
  operator/deploy/cr-azure.yaml
  operator/deploy/cr-credentialFromSecret.yaml
  operator/deploy/cr-customports.yaml
  operator/deploy/cr-etcd-ha-aws.yaml
  operator/deploy/cr-etcd-ha-file.yaml
  operator/deploy/cr-etcd-ha.yaml
  operator/deploy/cr-file.yaml
  operator/deploy/cr-gcpkms.yaml
  operator/deploy/cr-gcs-ha-autounseal.yaml
  operator/deploy/cr-gcs-ha.yaml
  operator/deploy/cr-hsm-nitrokey.yaml
  operator/deploy/cr-hsm-softhsm.yaml
  operator/deploy/cr-init-containers.yaml
  operator/deploy/cr-k8s-startup-secret.yaml
  operator/deploy/cr-mysql-ha.yaml
  operator/deploy/cr-nodeAffinity.yaml
  operator/deploy/cr-oidc.yaml
  operator/deploy/cr-podAntiAffinity.yaml
  operator/deploy/cr-priority.yaml
  operator/deploy/cr-prometheus.yaml
  operator/deploy/cr-raft.yaml
  operator/deploy/cr-resource.yaml
  operator/deploy/cr-vault-kv-unseal.yaml
  operator/deploy/multi-dc/aws/cr-primary.yaml
  operator/deploy/multi-dc/aws/cr-secondary.yaml
  operator/deploy/multi-dc/aws/cr-tertiary.yaml
  operator/deploy/multi-dc/test/cr-primary.yaml
  operator/deploy/multi-dc/test/cr-secondary.yaml
  operator/deploy/multi-dc/test/cr-tertiary.yaml
Labels: bug, documentation

#1107 ci: build multi-platform images
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.operator
  Dockerfile.vault-env
  Dockerfile.webhook
Labels: build

#1110 operator: fix raftLeaderAddress with self option
  .licensei.toml
  operator/deploy/multi-dc/aws/cr-primary.yaml
  operator/deploy/multi-dc/test/cr-primary.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, raft

#1113 ci: go 1.15
  .github/workflows/ci.yml
  Makefile
Labels: build

#1114 operator: update images to support arm64
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1115 prepare 1.5.0
  charts/README.md
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault/Chart.yaml
  charts/vault/README.md
Labels: release

#1119 vault-mutating-webhook: allow specifying pod securityContext and full container securityContext
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: chart, webhook

#1123 webhook: make secretNeedsMutation check work better for kubernetes.io/dockerconfigjson type secrets
  cmd/vault-secrets-webhook/secret.go
Labels: bug, webhook

#1095 vault-env: implement aws ec2 auth method
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
  pkg/sdk/vault/client.go
Labels: aws, vault-env

#1124 webhook: change the resource limit/requests of copy-vault-env and vault-agent to a sane value
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
Labels: enhancement, webhook
