Repository bank-vaults/bank-vaults, pull requests merged in 2020-01, with the labels that each got.

#816 operator: use probes from controller-runtime
  go.mod
  go.sum
  operator/cmd/manager/main.go
Labels: operator

#818 docs: add comparision of Banzai Cloud and HashiCorp mutating webhook
  docs/mutating-webhook/webhooks-comparision.md
Labels: documentation

#821 update AWS SDK to support eks AWS_ROLE_ARN mappings
  go.mod
  go.sum
Labels: aws

#824 Fix trim to >> value
  cmd/vault-env/main.go
Labels: bug, webhook

#825 Add registry address to cache key
  cmd/vault-secrets-webhook/registry/registry.go
Labels: webhook

#820 operator: multi DC failover support and example with Raft
  cmd/bank-vaults/main.go
  cmd/bank-vaults/unseal.go
  cmd/bank-vaults/util.go
  go.mod
  go.sum
  operator/deploy/multi-dc/cr-primary.yaml
  operator/deploy/multi-dc/cr-secondary.yaml
  operator/deploy/multi-dc/cr-tertiary.yaml
  operator/deploy/multi-dc/multi-dc-raft.sh
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
  pkg/kv/multi/multi.go
  pkg/sdk/vault/operator_client.go
Labels: multicloud, operator

#830 [webhook] Fix resource parsing check
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#831 makefile: webhook fix for helm3
  Makefile
Labels: webhook

#832 community enhancements
  README.md
Labels: documentation

#823 Implement vault-agent templating support
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/main_test.go
  deploy/test-deploy-va.yaml
  docs/mutating-webhook/vault-agent-templating.md
  internal/configuration/vaultConfig.go
Labels: community, webhook

#834 Add oci authMethodType to gcp case to support configuring vault auth …
  pkg/sdk/vault/operator_client.go
Labels: community, configurer

#842 templates: remove the dependency on dockerize
  charts/vault/Chart.yaml
  charts/vault/templates/statefulset.yaml
  charts/vault/values.yaml
  cmd/bank-vaults/configure.go
  cmd/template/main.go
  cmd/vault-env/main.go
  internal/configuration/template.go
Labels: chart, vault

#843 Add support for custom hosts/IPs on the TLS certificates managed by vault-operator
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator, tls

#844 webhook: fix agent config examples
  deploy/test-deploy-va.yaml
  docs/mutating-webhook/vault-agent-templating.md
Labels: bug, documentation, webhook

#846 extend tls docs
  certs/README.md
  docs/README.md
  docs/tls/README.md
  docs/tls/config.json
  docs/tls/csr.json
  docs/tls/server.json
Labels: documentation

#848 add labels to k8s unseal Secret
  cmd/bank-vaults/main.go
  cmd/bank-vaults/util.go
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
  pkg/kv/k8s/k8s.go
Labels: kubernetes, operator, unseal

#853 operator: velero enhancements
  operator/deploy/cr-raft.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: backup, operator

#855 tidy operator docs and remove plain manifest instructions
  charts/vault-operator/README.md
  docs/operator/README.md
  operator/README.md
  operator/deploy/etcd-operator.yaml
  operator/deploy/etcd-rbac.yaml
  operator/deploy/operator-rbac.yaml
  operator/deploy/operator.yaml
Labels: documentation
