Repository bank-vaults/bank-vaults, pull requests merged in 2020-05, with the labels that each got.

#968 [Chart/Webhook] Update webhook chart readme
  charts/vault-secrets-webhook/README.md
Labels: documentation

#972 operator: add vault condition statuses
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: enhancement, operator

#975 webhook: try to read the old .dockercfg key from the imagePullSecret as well
  cmd/vault-secrets-webhook/registry/registry.go
Labels: webhook

#976 webhook: secret projectedVolume instead of subPath mount
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
  operator/pkg/controller/vault/vault_controller.go
Labels: webhook

#978 Operator: Support JSON-formatted Vault policies
  pkg/sdk/vault/operator_client.go
Labels: operator

#987 [chart/webhook] fix Kubernetes version comparison
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/apiservice-webhook.yaml
  charts/vault-secrets-webhook/templates/webhook-psp.yaml
Labels: chart, webhook

#984 webhook: allow to pass data in write request
  internal/injector/inejctor.go
  internal/injector/inejctor_test.go
  pkg/sdk/vault/transit.go
Labels: enhancement, webhook

#993 Prepend namespace name to ClusterRoleBinding for vault Helm Chart
  charts/vault/Chart.yaml
  charts/vault/templates/rolebinding.yaml
Labels: chart

#995 OCP 4.3: runAsUser in Vault Secrets webhook chart should be configurable
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/templates/webhook-deployment.yaml
  charts/vault-secrets-webhook/values.yaml
Labels: chart, community, webhook

#996 some sdk/pkg/tls fixes
  pkg/sdk/tls/tls.go
  pkg/sdk/tls/tls_client.go
  pkg/sdk/tls/tls_integration_test.go
  pkg/sdk/tls/tls_peer.go
Labels: tls

#997 prepare 1.3.0: bump chart and image versions
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-operator/values.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/README.md
  charts/vault/values.yaml
Labels: release

#1000 vault 1.4.2
  .circleci/config.yml
  .github/workflows/ci.yml
  .golangci.yml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
  charts/vault/Chart.yaml
  charts/vault/README.md
  charts/vault/values.yaml
  operator/deploy/cr-audit.yaml
  operator/deploy/cr-aws.yaml
  operator/deploy/cr-awskms.yaml
  operator/deploy/cr-azure.yaml
  operator/deploy/cr-credentialFromSecret.yaml
  operator/deploy/cr-customports.yaml
  operator/deploy/cr-etcd-ha-aws.yaml
  operator/deploy/cr-etcd-ha-file.yaml
  operator/deploy/cr-etcd-ha.yaml
  operator/deploy/cr-file.yaml
  operator/deploy/cr-gcpkms.yaml
  operator/deploy/cr-gcs-ha-autounseal.yaml
  operator/deploy/cr-gcs-ha.yaml
  operator/deploy/cr-hsm-nitrokey.yaml
  operator/deploy/cr-hsm-softhsm.yaml
  operator/deploy/cr-init-containers.yaml
  operator/deploy/cr-k8s-startup-secret.yaml
  operator/deploy/cr-mysql-ha.yaml
  operator/deploy/cr-nodeAffinity.yaml
  operator/deploy/cr-podAntiAffinity.yaml
  operator/deploy/cr-priority.yaml
  operator/deploy/cr-prometheus.yaml
  operator/deploy/cr-raft.yaml
  operator/deploy/cr-resource.yaml
  operator/deploy/cr-transit-unseal.yaml
  operator/deploy/cr-vault-kv-unseal.yaml
  operator/deploy/cr.yaml
  operator/deploy/multi-dc/cr-primary.yaml
  operator/deploy/multi-dc/cr-secondary.yaml
  operator/deploy/multi-dc/cr-tertiary.yaml
Labels: vault
