Repository bank-vaults/bank-vaults, pull requests merged in 2021-04, with the labels that each got.

#1294 operator: make aws region optional in the crd
  charts/vault-operator/Chart.yaml
  charts/vault-operator/crds/crd.yaml
  operator/deploy/crd.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
Labels: operator

#1295 [webhook] vault-ct-once as initContainer
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
Labels: webhook

#1299 chart/helm: stricter default rbac for secrets
  charts/vault/Chart.yaml
  charts/vault/templates/role.yaml
Labels: chart

#1301 operator: fix nodes null unmarshal issue
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1303 operator: better code style
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1305 operator/ingress: add default backend only if there are no rules defined
  operator/pkg/apis/vault/v1alpha1/vault_types.go
Labels: ingress, operator
