Repository bank-vaults/bank-vaults, pull requests merged in 2021-05, with the labels that each got.

#1310 operator: fix ingress rbac api group
  charts/vault-operator/Chart.yaml
  charts/vault-operator/templates/role.yaml
Labels: chart, operator

#1319 feat: add azure msi auth method for vault
  go.mod
  go.sum
  pkg/sdk/go.mod
  pkg/sdk/go.sum
  pkg/sdk/vault/client.go
Labels: client, vault-env

#1324 Add awskms seal configuration to example
  operator/deploy/cr-awskms.yaml
Labels: aws, operator

#1329 operator: remove usage of VAULT_LOCAL_CONFIG
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1331 vault-secrets-webhook: Allow users to specify resources for init-containers
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/README.md
  charts/vault-secrets-webhook/values.yaml
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
Labels: webhook

#1333 vault-env/vault-secrets-webhook: Add VAULT_ENV_DELAY and vault-env-delay annotation
  cmd/vault-env/main.go
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
Labels: vault-env, webhook

#1335 webhook: fixes for running with kurun
  Makefile
  cmd/vault-secrets-webhook/main.go
Labels: webhook

#1339 webhook: make mutate functions public
  pkg/webhook/configmap.go
  pkg/webhook/object.go
  pkg/webhook/pod.go
  pkg/webhook/pod_test.go
  pkg/webhook/secret.go
  pkg/webhook/webhook.go
Labels: webhook

#1348 configurer: set issuer explicitly from service account JWT for in-cluster scenarios
  go.mod
  go.sum
  hack/acceptance-test.sh
  internal/vault/operator_client.go
Labels: bug, configurer
