Repository bank-vaults/bank-vaults, pull requests merged in 2021-01, with the labels that each got.

#1205 operator: add cert-manager and istiod example
  operator/deploy/cr-cert-manager.yaml
  operator/deploy/issuer.yaml
Labels: certificates, istio, operator

#1222 operator: support for all affinity configurations
  operator/deploy/cr-hsm-nitrokey.yaml
  operator/deploy/cr-hsm-softhsm.yaml
  operator/deploy/cr-init-containers.yaml
  operator/deploy/cr-k8s-startup-secret.yaml
  operator/deploy/cr-nodeAffinity.yaml
  operator/deploy/cr-priority.yaml
  operator/deploy/cr-raft-ha-storage.yaml
  operator/deploy/cr-raft.yaml
  operator/deploy/cr.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1223 injector: differentiate "not found" from other errors
  internal/injector/injector.go
  internal/injector/injector_test.go
Labels: webhook

#1228 codeql: remove unnecessary checkout step
  .github/workflows/codeql-analysis.yml
Labels: build

#1229 docker: add anchore image scan action
  .github/workflows/anchore-analysis.yml
Labels: build, security

#1230 operator&chart: drsecondary nodes should be healthy
  charts/vault/Chart.yaml
  charts/vault/templates/statefulset.yaml
  operator/pkg/controller/vault/vault_controller.go
Labels: chart, operator

#1231 charts: prepare for 1.10.1
  charts/vault-operator/Chart.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault/Chart.yaml
Labels: release

#1236 webhook: replace registry implementation entirely with go-containerregistry
  cmd/vault-secrets-webhook/main.go
  cmd/vault-secrets-webhook/pod.go
  cmd/vault-secrets-webhook/pod_test.go
  cmd/vault-secrets-webhook/registry/registry.go
  cmd/vault-secrets-webhook/registry/registry_test.go
  cmd/vault-secrets-webhook/secret.go
  go.mod
  go.sum
Labels: registry, webhook

#1239 [webhook] Kill container process when non-renewable lease expired.
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/webhook-rbac.yaml
  cmd/vault-env/main.go
  internal/injector/injector.go
Labels: vault-env, webhook

#1244 webhook: extend and specify documentation around namespaces
  charts/vault-secrets-webhook/README.md
Labels: documentation, webhook

#1245 operator: fix Vault status updates
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, operator
