Repository bank-vaults/bank-vaults, pull requests merged in 2022-01, with the labels that each got.

#1509 webhook: allow securityContext modification for injected containers
  pkg/webhook/config.go
  pkg/webhook/pod.go
  pkg/webhook/pod_test.go
Labels: webhook

#1511 operator: removal of automated etcd installations
  charts/vault-operator/Chart.yaml
  charts/vault-operator/README.md
  charts/vault-operator/crds/crd.yaml
  charts/vault-operator/templates/role.yaml
  go.mod
  go.sum
  operator/deploy/cr-etcd-ha-aws.yaml
  operator/deploy/cr-etcd-ha-file.yaml
  operator/deploy/cr-etcd-ha.yaml
  operator/deploy/crd.yaml
  operator/pkg/apis/addtoscheme_etcd_v1beta2.go
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/apis/vault/v1alpha1/zz_generated.deepcopy.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator, etcd

#1525 operator: fix expiry detection for CA.crt
  operator/pkg/controller/vault/vault_controller.go
Labels: bug, operator

#1524 operator: proper context propagation in k8s calls
  operator/pkg/apis/vault/v1alpha1/vault_types.go
  operator/pkg/controller/vault/vault_controller.go
Labels: operator

#1523 operator: Auto generate root token if `storeRootToken` is `false` (#129)
  cmd/bank-vaults/unseal.go
  go.mod
  hack/acceptance-test.sh
  internal/vault/auth_methods.go
  internal/vault/identity_groups.go
  internal/vault/operator_client.go
  internal/vault/plugins.go
  internal/vault/policies.go
  internal/vault/secrets_engines.go
  operator/deploy/cr-disabled-root-token-storage.yaml
  operator/pkg/apis/vault/v1alpha1/vault_types.go
Labels: unseal, configurer
