Repository bank-vaults/bank-vaults, pull requests merged in 2023-01, with the labels that each got.

#1752 webhook: create sa tokens via apiserver
  pkg/webhook/webhook.go
Labels: webhook

#1762 Secret-cleanup pre-delete hook in vault Helm chart
  charts/vault/Chart.yaml
  charts/vault/templates/secret-cleanup.yaml
  hack/acceptance-test.sh
Labels: vault, helm

#1758 webhook: set conditional around unused verb when not using secrets mutation
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault-secrets-webhook/templates/webhook-rbac.yaml
Labels: webhook

#1771 Release 1.18
  charts/README.md
  charts/vault-operator/Chart.yaml
  charts/vault-secrets-webhook/Chart.yaml
  charts/vault/Chart.yaml
Labels: release
