Repository bank-vaults/bank-vaults, pull requests merged in 2024-12, with the labels that each got.

#3089 feat: add support for AWS Identity Integration
  internal/vault/auth_methods.go
Labels: size/S

#3090 feat: Vault plugins can be used for authentication
  internal/vault/auth_methods.go
  internal/vault/operator_client.go
Labels: kind/enhancement, size/S, area/provider/vault, area/auth

#3092 feat: templated policy support for PKI
  internal/vault/secrets_engines.go
Labels: kind/enhancement, size/S, area/provider/vault, area/security

#3112 chore: prepare release
  .github/workflows/artifacts.yaml
  Makefile
  go.mod
  go.sum
Labels: size/M
