Repository bank-vaults/bank-vaults, pull requests merged in 2024-06, with the labels that each got.

#2735 fix: typos in issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: size/S, kind/cleanup

#2720 chore: update nix
  .golangci.yml
  .yamlignore
  .yamllint.yaml
  cmd/bank-vaults/completion.go
  cmd/bank-vaults/configure.go
  cmd/bank-vaults/init.go
  cmd/bank-vaults/unseal.go
  flake.lock
  flake.nix
  internal/vault/operator_client.go
  internal/vault/secrets_engines.go
  pkg/kv/hsm/hsm_test.go
Labels: area/dependencies, area/provider/vault, size/M, area/pipeline

#2751 chore: bump bank-vaults packages
  go.mod
  go.sum
Labels: area/build, size/XL

#2756 feat(build): add image signing GH action
  .github/workflows/artifacts.yaml
Labels: size/S, area/artifacts, area/build, area/pipeline, area/security
